* {
	margin : 0;
	padding: 0;
}


h4.section_title {
	font-size: 50px;

}

h4.need_value.main {
	font-size: 40px;
}

h4.need_title{
	font-size: 25px;
}

h4 {
	float:center;
}

body  {
	/*background:#e6e6e6;*/
	background:url(images/bg.jpg) no-repeat #fff center top;
padding:0;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
margin:0px auto auto auto;
color:#000;
}
p{
padding:2px;
margin:0px;
}
#main_container{
width:1000px;
height:auto;
margin:auto;
padding:0px;
}
.top_bar{
width:1000px;
height:38px;
background-color:#4a4a4a;
}
.top_search{
width:370px;
height:32px;
margin:0px 20px 0 0;
_margin:0px 10px 0 0;
float:right;
background:url(images/top_search_bg.gif) no-repeat center;

}

header, .main, footer {
	width: 90%;
	max-width: 1000px;
	margin:20px auto;
}

header nav {

	background: #529FD5;
	overflow: hidden; /*nos limpia nuestros float left*/
}

header nav ul {
	list-style: none;
}

header nav ul li {
	float:left;
}

header nav ul li a{
	padding: 10px 20px;
	display: block;
	color: #fff;
	text-decoration: none; 
}

header nav ul li a:hover {
	background: #7EACEC;
}


.main .articles {
	width: 70%;
	float: left;
	background: #fff;
}

.main .articles article{
	padding: 20px;
	background: #fff;
	margin-bottom:20px; 
}


aside {
	width: 30%;
	background: #ff8000;
	float:left;
	padding: 20px;
	box-sizing: border-box;
}

footer {
	background:#000;
	color: #fff;
	clear: both;
}


.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

.thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: border .2s ease-in-out;
       -o-transition: border .2s ease-in-out;
          transition: border .2s ease-in-out;
}
.thumbnail > img,
.thumbnail a > img {
  margin-right: auto;
  margin-left: auto;
}
a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
  border-color: #337ab7;
}
.thumbnail .caption {
  padding: 9px;
  color: #333;
}